.navbar{
    background-color: var(--color-yellow);
}

header {
    padding: 10px 40px;
    box-shadow:  0px 10px 30px var(--color-gray);
}

header ul li a {
    color: var(--color-coffe);
}

.menuToggle {
    position: absolute;
    top: -300px;
    left: 0;
    width: 100%;
    transition: .3s;
}

.menuToggle ul {
    width: 100%;
}

.itemBtn {
    width: 90%;
    padding: 15px 0;
    margin: 10px 0!important;
    background-color: var(--color-yellow);
    text-align: center;
    color: var(--color-coffe);
    border-radius: 10px;
}